# Dependencies
**/node_modules/

# Local env files
.env
.env.*

# Turbo
**/.turbo/

# Build Outputs
**/build/
**/out/
**/dist/
**/.output/
**/.tanstack/
**/.next/

# Database data
**/.data/
**/generated/